{% extends 'MCQBackBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        La réponse a été supprimée.
        <a href="{{ path('mcq_back_choices') }}">Liste les reponses</a>
    </div>
{% endblock %}