{% extends 'MCQBackBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        La reponse a été modifiée.
        <a href="{{ path('mcq_back_choices') }}">Liste des reponses </a>
    </div>
{% endblock %}