{% extends 'MCQBackBundleBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        Le theme a été mis à jour
        <a href="{{ path('mcq_back_topics') }}">Liste des themes </a>
    </div>
{% endblock %}