{% extends 'MCQBackBundleBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        Le QCM a été supprimé.
        <a href="{{ path('mcq_back_mcqs') }}">Liste les QCMs</a>
    </div>
{% endblock %}