{% extends 'MCQBackBundleBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
    Le qcm a été mis à jour
        <a href="{{ path('mcq_back_mcqs') }}">Liste des qcms </a>
    </div>
{% endblock %}