{% extends 'MCQFrontBundle::menu2.html.twig' %}

{% block body %}

<h1>Exam</h1>

<div class="qcm">
    <h1>QCM</h1>
    Titre : {{ mcq.mcqname }} Niveau : {{ mcq.level }}

</div>
    

{% endblock %}