{% extends 'MCQBackBundleBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        Le condidat a été supprimé.
        <a href="{{ path('mcq_back_users') }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Lister les condidats</button></a>
    </div>
{% endblock %}