{% extends 'MCQBackBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        La session a été modifiée
        <a href="{{ path('mcq_back_sessions') }}">Liste les sessions </a>
    </div>
{% endblock %}