{% extends 'MCQBackBundleBundle:Default:index.html.twig' %}
{% block body %}
    <div align="center">
        Le question a été ajouté avec succés
        <a href="{{ path('mcq_back_questions') }}">Liste des questions </a>
    </div>
{% endblock %}